blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
feedparser==6.0.11
Flask==3.1.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
oauthlib==3.2.2
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
sgmllib3k==1.0.0
SQLAlchemy==1.3.24
tweepy==4.15.0
typing_extensions==4.12.2
urllib3==2.3.0
Werkzeug==3.1.3
