{% extends "layout.html" %}
    {% block content %}
        <div class="row" data-selectedfeed="{{ selectedfeed }}">
            <div class="col-7">
                <div class="content-menu">
                    <small>Articles non postés</small>
                    <a class="btn btn-sm mb-1 {% if selectedfeed == 'qdm' %}btn-warning{% else %}btn-outline-warning{% endif %}" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .7rem;" role="button" href="{{ url_for('home', selectedfeed='qdm') }}">TOUS</a>
                    <a class="btn btn-sm mb-1 {% if selectedfeed == 'X' %}btn-dark{% else %}btn-outline-dark{% endif %}" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .7rem;" role="button" href="{{ url_for('home', selectedfeed='X') }}">X</a>
                    <a class="btn btn-sm mb-1 {% if selectedfeed == 'Bluesky' %}btn-primary{% else %}btn-outline-primary{% endif %}" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .7rem;" role="button" href="{{ url_for('home', selectedfeed='Bluesky') }}">Bluesky</a>
                    <a class="btn btn-sm mb-1 {% if selectedfeed == 'LinkedIn' %}btn-primary{% else %}btn-outline-primary{% endif %}" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .7rem;" role="button" href="{{ url_for('home', selectedfeed='LinkedIn') }}">LinkedIn</a>
                </div>
                {% for article in articles.items %}
                    <article class="content-section">
                        <div class="article-metadata d-flex justify-content-between align-items-center">
                            <small class="text-muted">Date QDM : {{ article.pubdate }}</small>
                            <a class="btn btn-sm btn-outline-success ms-auto" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .5rem;" role="button" data-bs-toggle="modal" data-bs-target="#newpost{{ article.id }}">Partager</a>
                            <a class="btn btn-sm btn-outline-danger ms-2 disabled" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .5rem;" role="button" href="#">Supprimer</a>
                            <!-- Formulaire d'édition -->
                            <div class="modal fade" id="newpost{{ article.id }}" tabindex="-1" 
                                 data-title="{{ article.title }}" 
                                 data-description="{{ article.summary | truncate(250) }}" 
                                 data-link="{{ article.link }}" 
                                 data-datetime="{{ current_datetime() }}" 
                                 data-min-datetime="{{ current_datetime() }}" 
                                 data-image-url="{{ article.image_url }}">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 fw-bold" id="newpostLabel{{ article.id }}">Nouveau post</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Séléction des réseaux à éditer -->
                                            <div class="mb-3 d-flex align-items-center flex-wrap">
                                                <label class="form-label me-3 fw-bold">Sélectionnez les réseaux</label>
                                                <div class="form-check form-check-inline me-2">
                                                    <input class="form-check-input network-checkbox" type="checkbox" id="x_checkbox_modal{{ article.id }}" value="X">
                                                    <label class="form-check-label" for="x_checkbox_modal{{ article.id }}">X</label>
                                                </div>
                                                <div class="form-check form-check-inline me-2">
                                                    <input class="form-check-input network-checkbox" type="checkbox" id="bluesky_checkbox_modal{{ article.id }}" value="Bluesky">
                                                    <label class="form-check-label" for="bluesky_checkbox_modal{{ article.id }}">Bluesky</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input network-checkbox" type="checkbox" id="linkedin_checkbox_modal{{ article.id }}" value="LinkedIn">
                                                    <label class="form-check-label" for="linkedin_checkbox_modal{{ article.id }}">LinkedIn</label>
                                                </div>
                                            </div>
                                            <!-- Formulaire dynamique -->
                                            <div id="dynamic-forms-container{{ article.id }}"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="programmer-btn-{{ article.id }}">Programmer</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <!-- Fin formulaire-->
                        </div>
                        <a class="article-title" href="{{ article.link }}" target="_blank">{{ article.title }}</a>
<!--                        <p class="article-content">{{ article.summary[:100] }}...</p> -->
                    </article>
                {% endfor %}
                <div class="d-flex mt-2 justify-content-left flex-wrap">
                    {% for page_num in articles.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                        {% if page_num %}
                            <a class="btn {% if articles.page == page_num %}btn-warning{% else %}btn-outline-warning{% endif %} me-2 mb-4" href="{{ url_for('home', page=page_num, selectedfeed=selectedfeed) }}">{{ page_num }}</a>
                        {% else %}
                            <span class='me-2'>...</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Fils de droite : posts planifiés et posts publiés -->
            <div class="col-5">
                <div class="content-section">
                    <div class="border-bottom border-bottom-5 mb-2">Posts planifiés</div>
                    {% for post in posts_planned %}
                        <div class="post-metadata d-flex">
                            <div class="bg-warning text-dark me-2 px-1"> {{ post.date_pub }}</div> 
                            <div> {{ post.name }} </div>
                        </div>
                        <div class="post-content">{{ post.title }}</div>
                        <div class="d-flex border-bottom pb-1 my-2">
                            <a class="btn btn-outline-success me-2" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .5rem;" role="button" data-bs-toggle="modal" data-bs-target="#editpost{{ post.id }}">Éditer</a>
                            <!-- Formulaire édition de post planifié -->
                            <div class="modal fade" id="editpost{{ post.id }}" tabindex="-1">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="editpostLabel{{ post.id }}">Modifier le post planifié</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{ url_for('edit_post', selectedfeed=selectedfeed) }}" method='post'>
                                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                                <div class="mb-3">
                                                    <label for="title_post{{ post.id }}" class="form-label fw-bold">Titre du post</label>
                                                    <textarea class="form-control" id="title_post{{ post.id }}" name="post_title" aria-describedby="titleHelp{{ post.id }}" rows="3" required>{{ post.title }}</textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="description_post{{ post.id }}" class="form-label fw-bold">Description du post</label>
                                                    <textarea class="form-control" id="description_post{{ post.id }}" name="post_description" aria-describedby="descriptionHelp{{ post.id }}" rows="3" required>{{ post.description }}</textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="tagline_post{{ post.id }}" class="form-label fw-bold">Accroche du post</label>
                                                    <textarea class="form-control" id="tagline_post{{ post.id }}" name="post_tagline" aria-describedby="taglineHelp{{ post.id }}" rows="3" required>{{ post.tagline }}</textarea>
                                                </div>
                                                <div class="mb-3 d-flex align-items-center flex-wrap">
                                                    <label for="date_post{{ post.id }}" class="form-label me-2 mb-0 fw-bold">Date et heure</label>
                                                    <input type="datetime-local" class="form-control me-3 w-auto" id="date_post{{ post.id }}" name="post_datetime" value="{{ post.date_pub }}" min="{{ current_datetime() }}" required>
                                                    <label class="form-label me-3 ms-2 mb-0 fw-bold">Réseau</label>
                                                    <div class="form-check form-check-inline me-2">
                                                        <input class="form-check-input" type="radio" id="x_checkbox{{ post.id }}" name="post_network" value="X" {% if post.name == 'X' %}checked{% endif %}>
                                                        <label class="form-check-label" for="x_checkbox{{ post.id }}">X</label>
                                                    </div>
                                                    <div class="form-check form-check-inline me-2">
                                                        <input class="form-check-input" type="radio" id="bluesky_checkbox{{ post.id }}" name="post_network" value="Bluesky" {% if post.name == 'Bluesky' %}checked{% endif %}>
                                                        <label class="form-check-label" for="bluesky_checkbox{{ post.id }}">Bluesky</label>
                                                    </div>
                                                    <div class="form-check form-check-inline me-2">
                                                        <input class="form-check-input" type="radio" id="linkedin_checkbox{{ post.id }}" name="post_network" value="LinkedIn" {% if post.name == 'LinkedIn' %}checked{% endif %}>
                                                        <label class="form-check-label" for="linkedin_checkbox{{ post.id }}">LinkedIn</label>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button type="submit" class="btn btn-primary btn-right">Enregistrer</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin formulaire édition de post planifié -->
                            <a class="btn btn-outline-secondary me-5 disabled" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .5rem;" role="button" href="#">Repartager</a>
                            <a class="btn btn-outline-danger" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .5rem;" role="button" href="{{ url_for('delete_post', post_id=post.id, selectedfeed=selectedfeed) }}">Supprimer</a>
                        </div>
                    {% endfor %}
                </div>
                <!-- Derniers posts publiés -->
                <div class="content-section">
                    <div class="border-bottom border-bottom-5 mb-2">Derniers posts</div>
                    {% for post in posts_pub %}
                        <div class="post-metadata d-flex">
                            <div class="bg-secondary-subtle text-secondary-emphasis me-2 px-1"> {{ post.date_pub }}</div> 
                            <div> {{ post.name }} </div>
                        </div>
                        <a class="post-title" href="{{ post.network_post_id }}" target="_blank">{{ post.title }}</a>
                        <div class="d-flex border-bottom pb-1 my-2">
                            <a class="btn btn-outline-secondary disabled" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .5rem;" role="button" href="#">Repartager</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/modal-handler.js') }}"></script>
        <script src="{{ url_for('static', filename='js/character-counter.js') }}"></script>
    {% endblock content %}