{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h2 class="text-center text-secondary border-bottom border-3 pb-2">Tags des réseaux</h2>
        </div>
    </div>
    {% for network in networks %}
    <div class="row align-items-start mb-3">
        <div class="col-12 col-md-2 text-md-end text-center mb-2 mb-md-0">
            <span class="fw-bold text-secondary fs-5">{{ network.name }}</span>
        </div>
        <div class="col-12 col-md-8 mb-2 mb-md-0">
            <div class="network-tag p-2 border border-2">
                {{ network.tag }}
            </div>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-center justify-content-md-start">
            <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#editTagModal{{ network.id }}">Modifier</button>
        </div>
    </div>
    <!-- formulaire d'édition du tag -->
    <div class="modal fade" id="editTagModal{{ network.id }}" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTagModalLabel{{ network.id }}">Modifier le tag pour {{ network.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('update_tag', network_id=network.id) }}" method="POST">
                        <div class="mb-3">
                            <label for="tag{{ network.id }}" class="form-label">Nouveau tag</label>
                            <textarea class="form-control" id="tag{{ network.id }}" name="new_tag" rows="3">{{ network.tag }}</textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin formulaire d'édition du tag -->
    {% endfor %}
    <div class="row mt-4">
        <div class="col text-center">
            <a href="{{ url_for('home', selectedfeed='tous', newspaper='qdm') }}" class="btn btn-secondary">Quitter</a>
        </div>
    </div>
</div>
{% endblock content %}
